In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('http://barttorvik.com/2026_team_results.csv',index_col=False)
df_results = df[['rank','team', 'conf','record','adjoe','adjde','barthag', 'sos','adjt']]
df_results.head()

,rank,team,conf,record,adjoe,adjde,barthag,sos,adjt
0,1,Michigan,B10,9-0,124.044340,88.045287,0.980961,0.721812,73.815915
1,2,Duke,ACC,10-0,121.735157,92.086731,0.961203,0.545053,68.427357
2,3,Houston,B12,9-1,118.560413,90.273860,0.958298,0.541627,63.934155
3,4,Gonzaga,WCC,9-1,122.132526,93.214764,0.957193,0.628179,71.511562
4,5,Iowa St.,B12,9-0,122.138984,93.942453,0.953402,0.531941,70.574880

In [38]:
df = pd.read_csv('http://barttorvik.com/2026_fffinal.csv',index_col=False)
df.head()

C:\Users\manas\AppData\Local\Temp\ipykernel_18440\3891047103.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv('http://barttorvik.com/2026_fffinal.csv',index_col=False)

,TeamName,eFG%,Rk,eFG% Def,Rk.1,FTR,Rk.2,FTR Def,Rk.3,OR%,...,ft%D,rk.5,3P rate,rk.6,3P rate D,rk.7,arate,rk.8,arateD,rk.9
0,Vanderbilt,61.2,5,46.3,43,35.8,174,45.7,328,33.4,...,77.0,339,44.3,90,40.1,196,59.0,55,44.2,32
1,Ohio St.,60.1,7,47.8,77,42.6,54,30.0,69,30.9,...,72.0,201,44.0,98,40.4,200,56.7,94,47.4,74
2,Arkansas,54.2,85,45.7,35,38.1,128,25.5,28,30.9,...,68.0,65,38.6,204,43.5,279,57.4,80,55.4,240
3,Houston,51.4,164,42.7,8,21.4,360,37.3,215,39.1,...,65.8,25,42.7,121,42.0,244,60.6,39,47.2,69
4,Little Rock,48.9,241,61.2,364,25.3,343,31.0,89,30.6,...,67.9,64,29.1,353,46.6,329,51.6,208,58.5,294

In [39]:
import re

cols = list(df.columns)
new_cols = cols.copy()

for i, col in enumerate(cols):
    # match 'Rk', 'Rk.1', 'rk', 'rk.2', etc. (case-insensitive)
    if re.match(r'^rk(?:\.\d+)?$', str(col), re.I):
        if i == 0:
            # nothing before it to use as metric name
            continue
        metric_name = str(cols[i - 1]).strip()
        # create new rank column name based on previous metric
        new_name = f"{metric_name} Rank"
        # avoid accidental duplicate column names
        if new_name in new_cols:
            suffix = 1
            candidate = f"{new_name} ({suffix})"
            while candidate in new_cols:
                suffix += 1
                candidate = f"{new_name} ({suffix})"
            new_name = candidate
        new_cols[i] = new_name

df.columns = new_cols
print(df.columns.tolist())

['TeamName', 'eFG%', 'eFG% Rank', 'eFG% Def', 'eFG% Def Rank', 'FTR', 'FTR Rank', 'FTR Def', 'FTR Def Rank', 'OR%', 'OR% Rank', 'DR%', 'DR% Rank', 'TO%', 'TO% Rank', 'TO% Def.', 'TO% Def. Rank', '3P%', '3P% Rank', '3pD%', '3pD% Rank', '2p%', '2p% Rank', '2p%D', '2p%D Rank', 'ft%', 'ft% Rank', 'ft%D', 'ft%D Rank', '3P rate', '3P rate Rank', '3P rate D', '3P rate D Rank', 'arate', 'arate Rank', 'arateD', 'arateD Rank']

In [40]:
df.head()

,TeamName,eFG%,eFG% Rank,eFG% Def,eFG% Def Rank,FTR,FTR Rank,FTR Def,FTR Def Rank,OR%,...,ft%D,ft%D Rank,3P rate,3P rate Rank,3P rate D,3P rate D Rank,arate,arate Rank,arateD,arateD Rank
0,Vanderbilt,61.2,5,46.3,43,35.8,174,45.7,328,33.4,...,77.0,339,44.3,90,40.1,196,59.0,55,44.2,32
1,Ohio St.,60.1,7,47.8,77,42.6,54,30.0,69,30.9,...,72.0,201,44.0,98,40.4,200,56.7,94,47.4,74
2,Arkansas,54.2,85,45.7,35,38.1,128,25.5,28,30.9,...,68.0,65,38.6,204,43.5,279,57.4,80,55.4,240
3,Houston,51.4,164,42.7,8,21.4,360,37.3,215,39.1,...,65.8,25,42.7,121,42.0,244,60.6,39,47.2,69
4,Little Rock,48.9,241,61.2,364,25.3,343,31.0,89,30.6,...,67.9,64,29.1,353,46.6,329,51.6,208,58.5,294

In [41]:
#Merge results and df
merged_df = pd.merge(df, df_results, how='left', left_on='TeamName', right_on='team')
merged_df.head()

,TeamName,eFG%,eFG% Rank,eFG% Def,eFG% Def Rank,FTR,FTR Rank,FTR Def,FTR Def Rank,OR%,...,arateD Rank,rank,team,conf,record,adjoe,adjde,barthag,sos,adjt
0,Vanderbilt,61.2,5,46.3,43,35.8,174,45.7,328,33.4,...,32,7,Vanderbilt,SEC,9-0,127.034992,98.376289,0.949795,0.547687,71.016571
1,Ohio St.,60.1,7,47.8,77,42.6,54,30.0,69,30.9,...,74,30,Ohio St.,B10,7-2,119.641254,100.413825,0.882340,0.475204,69.817185
2,Arkansas,54.2,85,45.7,35,38.1,128,25.5,28,30.9,...,240,20,Arkansas,SEC,7-2,119.093079,96.846722,0.915128,0.527597,71.464905
3,Houston,51.4,164,42.7,8,21.4,360,37.3,215,39.1,...,69,3,Houston,B12,9-1,118.560413,90.273860,0.958298,0.541627,63.934155
4,Little Rock,48.9,241,61.2,364,25.3,343,31.0,89,30.6,...,294,317,Little Rock,OVC,2-8,101.293082,114.081978,0.203050,0.499050,65.430582

In [42]:
merged_df = merged_df.apply(pd.to_numeric, errors='ignore')
print(merged_df.head())

      TeamName  eFG%  eFG% Rank  eFG% Def  eFG% Def Rank   FTR  FTR Rank  \
0   Vanderbilt  61.2          5      46.3             43  35.8       174
1     Ohio St.  60.1          7      47.8             77  42.6        54
2     Arkansas  54.2         85      45.7             35  38.1       128
3      Houston  51.4        164      42.7              8  21.4       360
4  Little Rock  48.9        241      61.2            364  25.3       343

   FTR Def  FTR Def Rank   OR%  ...  arateD Rank  rank         team  conf  \
0     45.7           328  33.4  ...           32     7   Vanderbilt   SEC
1     30.0            69  30.9  ...           74    30     Ohio St.   B10
2     25.5            28  30.9  ...          240    20     Arkansas   SEC
3     37.3           215  39.1  ...           69     3      Houston   B12
4     31.0            89  30.6  ...          294   317  Little Rock   OVC

   record       adjoe       adjde   barthag       sos       adjt
0     9-0  127.034992   98.376289  0.949795  0.547687  71.016571
1     7-2  119.641254  100.413825  0.882340  0.475204  69.817185
2     7-2  119.093079   96.846722  0.915128  0.527597  71.464905
3     9-1  118.560413   90.273860  0.958298  0.541627  63.934155
4     2-8  101.293082  114.081978  0.203050  0.499050  65.430582

[5 rows x 46 columns]

C:\Users\manas\AppData\Local\Temp\ipykernel_18440\993514884.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  merged_df = merged_df.apply(pd.to_numeric, errors='ignore')

In [43]:
merged_df.columns

Index(['TeamName', 'eFG%', 'eFG% Rank', 'eFG% Def', 'eFG% Def Rank', 'FTR',
       'FTR Rank', 'FTR Def', 'FTR Def Rank', 'OR%', 'OR% Rank', 'DR%',
       'DR% Rank', 'TO%', 'TO% Rank', 'TO% Def.', 'TO% Def. Rank', '3P%',
       '3P% Rank', '3pD%', '3pD% Rank', '2p%', '2p% Rank', '2p%D', '2p%D Rank',
       'ft%', 'ft% Rank', 'ft%D', 'ft%D Rank', '3P rate', '3P rate Rank',
       '3P rate D', '3P rate D Rank', 'arate', 'arate Rank', 'arateD',
       'arateD Rank', 'rank', 'team', 'conf', 'record', 'adjoe', 'adjde',
       'barthag', 'sos', 'adjt'],
      dtype='object')

In [44]:
#Remove all columns with word rank in it
clean_df = merged_df[merged_df.columns.drop(list(merged_df.filter(regex='Rank')))]
clean_df['Year'] = 2026
#Normalize each metric by calculating the z-score for each year except adj metrics
clean_df['EFG Z'] = clean_df.groupby('Year')['eFG%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['EFGD Z'] = clean_df.groupby('Year')['eFG% Def'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['TOR Z'] = clean_df.groupby('Year')['TO%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['TORD Z'] = clean_df.groupby('Year')['TO% Def.'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['ORB Z'] = clean_df.groupby('Year')['OR%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['DRB Z'] = clean_df.groupby('Year')['DR%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['FTR Z'] = clean_df.groupby('Year')['FTR'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['FTRD Z'] = clean_df.groupby('Year')['FTR Def'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['2P Z'] = clean_df.groupby('Year')['2p%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['2PD Z'] = clean_df.groupby('Year')['2p%D'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3P Z'] = clean_df.groupby('Year')['3P%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3PD Z'] = clean_df.groupby('Year')['3pD%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3PR Z'] = clean_df.groupby('Year')['3P rate'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3PRD Z'] = clean_df.groupby('Year')['3P rate D'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['Adj T Z'] = clean_df.groupby('Year')['adjt'].transform(lambda x: (x - x.mean()) / x.std())

C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Year'] = 2026
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['EFG Z'] = clean_df.groupby('Year')['eFG%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['EFGD Z'] = clean_df.groupby('Year')['eFG% Def'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['TOR Z'] = clean_df.groupby('Year')['TO%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['TORD Z'] = clean_df.groupby('Year')['TO% Def.'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['ORB Z'] = clean_df.groupby('Year')['OR%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['DRB Z'] = clean_df.groupby('Year')['DR%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['FTR Z'] = clean_df.groupby('Year')['FTR'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['FTRD Z'] = clean_df.groupby('Year')['FTR Def'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['2P Z'] = clean_df.groupby('Year')['2p%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['2PD Z'] = clean_df.groupby('Year')['2p%D'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['3P Z'] = clean_df.groupby('Year')['3P%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['3PD Z'] = clean_df.groupby('Year')['3pD%'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['3PR Z'] = clean_df.groupby('Year')['3P rate'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['3PRD Z'] = clean_df.groupby('Year')['3P rate D'].transform(lambda x: (x - x.mean()) / x.std())
C:\Users\manas\AppData\Local\Temp\ipykernel_18440\1620027784.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Adj T Z'] = clean_df.groupby('Year')['adjt'].transform(lambda x: (x - x.mean()) / x.std())

In [45]:
#Rename TeamName to Team
clean_df = clean_df.rename(columns={'TeamName': 'Team'})

In [46]:
#Output to csv with name torvik_ and then today's date
from datetime import datetime
now = datetime.now()
timestamp = now.strftime("%Y-%m-%d_%H-%M-%S")

# Create the filename with the timestamp
filename = f"torvik_{timestamp}.csv"

# Save the dataframe to a csv file
clean_df.to_csv(filename, index=False)

In [25]:
import pandas as pd
import requests
from datetime import date

# 1. Configuration
# Replace this URL with the specific sports schedule page you want to scrape.
# Example: ESPN's Men's College Basketball Schedule for today
# NOTE: The date in the URL might need to be adjusted for 'today'
# The search tool result (if a schedule URL was found) would be ideal here.
SCHEDULE_URL = "https://www.espn.com/mens-college-basketball/schedule"

# Get today's date for the filename
today_str = date.today().strftime("%Y-%m-%d")
OUTPUT_FILENAME = f"cbb_matchups_{today_str}.csv"


def scrape_and_save_schedule(url, filename):
    """
    Fetches the HTML from the given URL and uses pandas to read all tables.
    It combines all found tables into a single DataFrame and saves it as a CSV.
    """
    print(f"-> Attempting to scrape tables from: {url}")
    
    try:
        # Use requests to get the content of the page
        # Note: Some sites might block simple 'requests' and require setting a User-Agent header
        headers = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
        }
        response = requests.get(url, headers=headers, timeout=15)
        response.raise_for_status() # Raise an exception for bad status codes (4xx or 5xx)

        # 2. Use pandas to automatically read all tables in the HTML
        # This is the most powerful part of this script.
        tables = pd.read_html(response.text)

        if not tables:
            print("-> No HTML tables were found on the page.")
            return

        print(f"-> Successfully found {len(tables)} tables on the page.")

        # 3. Combine Tables (if more than one is found)
        # You may need to inspect the tables and filter them. For simplicity, we concatenate all.
        try:
            # Drop the first row of all tables as it is often a repeated header/title
            processed_tables = [table.iloc[1:] for table in tables]
            
            # Concatenate all processed tables into a single DataFrame
            final_df = pd.concat(processed_tables, ignore_index=True)
            
        except Exception as e:
             print(f"-> Error during table processing (concatenation/row drop): {e}")
             # Fallback to just using the largest table if concatenation fails
             final_df = max(tables, key=len)


        # 4. Clean up and Save
        # Remove any columns that are entirely NaN (empty)
        final_df.dropna(axis=1, how='all', inplace=True)
        
        # Save the DataFrame to a CSV file
        final_df.to_csv(filename, index=False, encoding='utf-8')
        
        print("-" * 50)
        print(f"✅ Success! Matchups saved to: {filename}")
        print(f"A total of {len(final_df)} rows were written.")
        print("-" * 50)

    except requests.exceptions.RequestException as e:
        print(f"❌ Error fetching URL or network issue: {e}")
    except Exception as e:
        print(f"❌ An unexpected error occurred: {e}")

scrape_and_save_schedule(SCHEDULE_URL, OUTPUT_FILENAME)

-> Attempting to scrape tables from: https://www.espn.com/mens-college-basketball/schedule
-> Successfully found 1 tables on the page.
--------------------------------------------------
✅ Success! Matchups saved to: cbb_matchups_2025-12-11.csv
A total of 12 rows were written.
--------------------------------------------------

C:\Users\manas\AppData\Local\Temp\ipykernel_18440\714535677.py:35: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [ ]:
cbb_matchups = pd.read_csv(OUTPUT_FILENAME)

,MATCHUP,MATCHUP.1,TIME,TV,tickets,location,Odds by
0,Bloomfield,@ Wagner,7:00 PM,NaN,Tickets as low as $6,"Spiro Sports Center, Staten Island, NY",NaN
1,Coastal Georgia,@ Georgia Southern,7:00 PM,NaN,Tickets as low as $24,"Jack and Ruth Ann Hill Convocation Center, Sta...",NaN
2,Trinity College of Jacksonville,@ Jacksonville,7:00 PM,NaN,NaN,"Swisher Gymnasium, Jacksonville, FL",NaN
3,App State,@ East Carolina,7:00 PM,NaN,Tickets as low as $36,"Minges Coliseum, Greenville, NC",Line: ECU -4.5O/U: 131.5
4,Western Carolina,@ Virginia Tech,7:00 PM,NaN,Tickets as low as $9,"Cassell Coliseum, Blacksburg, VA",Line: VT -20.5O/U: 154.5
5,UT Arlington,@ UT Rio Grande Valley,7:30 PM,NaN,NaN,"UTRGV Fieldhouse, Edinburg, TX",Line: RGV -2.5O/U: 144.5
6,Iowa,@ 4 Iowa State,8:00 PM,FS1,Tickets as low as $81,"Hilton Coliseum, Ames, IA",Line: ISU -11.5O/U: 140.5
7,Saint John's (MN),@ St. Thomas-Minnesota,8:00 PM,NaN,NaN,"Lee & Penny Anderson Arena, Saint Paul, MN",NaN
8,Alabama State,@ Missouri,8:00 PM,NaN,Tickets as low as $4,"Mizzou Arena, Columbia, MO",Line: MIZ -25.5O/U: 156.5
9,Alaska Anchorage,@ Denver,9:00 PM,NaN,Tickets as low as $15,"Hamilton Gymnasium, Denver, CO",NaN
10,Saint Joseph's,@ Syracuse,9:00 PM,NaN,Tickets as low as $3,"JMA Wireless Dome, Syracuse, NY",Line: SYR -12.5O/U: 146.5
11,North Dakota State,@ Cal State Bakersfield,9:30 PM,NaN,Tickets as low as $27,"Icardo Center, Bakersfield, CA",Line: NDSU -6.5O/U: 150.5

In [34]:
cbb_matchups = cbb_matchups[['MATCHUP','MATCHUP.1']]
cbb_matchups = cbb_matchups.rename(columns={'MATCHUP': 'Away', 'MATCHUP.1': 'Home'})

#Remove @ from Away and trim
cbb_matchups['Home'] = cbb_matchups['Home'].str.replace('@', '').str.strip()

#Remove digits from home and away
cbb_matchups['Away'] = cbb_matchups['Away'].str.replace(r'\d+', '', regex=True).str.strip()
cbb_matchups['Home'] = cbb_matchups['Home'].str.replace(r'\d+', '', regex=True).str.strip()

cbb_matchups

                               Away                   Home
0                        Bloomfield                 Wagner
1                   Coastal Georgia       Georgia Southern
2   Trinity College of Jacksonville           Jacksonville
3                         App State          East Carolina
4                  Western Carolina          Virginia Tech
5                      UT Arlington   UT Rio Grande Valley
6                              Iowa             Iowa State
7                 Saint John's (MN)   St. Thomas-Minnesota
8                     Alabama State               Missouri
9                  Alaska Anchorage                 Denver
10                   Saint Joseph's               Syracuse
11               North Dakota State  Cal State Bakersfield

In [35]:
cbb_matchups.to_csv(OUTPUT_FILENAME, index=False)

In [ ]:
import pandas as pd
url = 'https://barttorvik.com/trank.php?year={yr}&sort=&top=0&conlimit=All&venue=All&type=R#'
dfs = []
for x in range(2017,2026):
    print(x)
    print(url.format(yr=x))
    df = pd.read_html(url.format(yr=x), header= 1)[0]
    df['Year'] = x
    dfs.append(df)
finaldf = pd.concat(dfs,ignore_index= True)

#Clean up the dataset
finaldf[['Rec', 'Conf Record']] = finaldf['Rec'].str.split(' ', expand=True)
finaldf[['AdjOE', 'AdjOE Rank']] = finaldf['AdjOE'].str.split(' ', expand=True)
finaldf[['AdjDE', 'AdjDE Rank']] = finaldf['AdjDE'].str.split(' ', expand=True)
finaldf[['Barthag', 'Barthag Rank']] = finaldf['Barthag'].str.split(' ', expand=True)
finaldf[['EFG%', 'EFG% Rank']] = finaldf['EFG%'].str.split(' ', expand=True)
finaldf[['EFGD%', 'EFGD% Rank']] = finaldf['EFGD%'].str.split(' ', expand=True)
finaldf[['TOR', 'TOR Rank']] = finaldf['TOR'].str.split(' ', expand=True)
finaldf[['TORD', 'TORD Rank']] = finaldf['TORD'].str.split(' ', expand=True)
finaldf[['ORB', 'ORB Rank']] = finaldf['ORB'].str.split(' ', expand=True)
finaldf[['DRB', 'DRB Rank']] = finaldf['DRB'].str.split(' ', expand=True)
finaldf[['FTR', 'FTR Rank']] = finaldf['FTR'].str.split(' ', expand=True)
finaldf[['FTRD', 'FTRD Rank']] = finaldf['FTRD'].str.split(' ', expand=True)
finaldf[['2P%', '2P% Rank']] = finaldf['2P%'].str.split(' ', expand=True)
finaldf[['2P%D', '2P%D Rank']] = finaldf['2P%D'].str.split(' ', expand=True)
finaldf[['3P%', '3P% Rank']] = finaldf['3P%'].str.split(' ', expand=True)
finaldf[['3P%D', '3P%D Rank']] = finaldf['3P%D'].str.split(' ', expand=True)
finaldf[['3PR', '3PR Rank']] = finaldf['3PR'].str.split(' ', expand=True)
finaldf[['3PRD', '3PRD Rank']] = finaldf['3PRD'].str.split(' ', expand=True)
finaldf[['Adj T.', 'Adj T. Rank']] = finaldf['Adj T.'].str.split(' ', expand=True)
finaldf[['WAB', 'WAB Rank']] = finaldf['WAB'].str.split(' ', expand=True)
finaldf = finaldf[finaldf['Team']!= "Team"]

finaldf = finaldf.apply(pd.to_numeric, errors='ignore')
print(finaldf.head())

def extract_tournament_result(input_string):
    if "seed" in input_string:
        parts = input_string.split("seed,")
        if len(parts) > 1:
            tounament_result = parts[1].strip()
            return tounament_result
    return None

import re
def extract_seed(input_string):
    match = re.search(r'(...)(?=seed)',input_string)
    if match:
        return match.group(1)
    return None

def extract_team_name(input_string):
    # Use regular expression to find three characters before "seed"
    match = re.search(r'^(.*?)...(?=seed)', input_string)
    if match:
        # Extract the matched substring
        return match.group(1)
    return input_string

#Adding some labeling columns for analysis later
def get_tournament_games_won (input_string):
    
    if(input_string== "R68" or input_string == "R64"):
            return 0
    else:
          if(input_string == "R32"):
                return 1
          else:
                if(input_string == "Sweet Sixteen"):
                      return 2
                else:
                      if(input_string == "Elite Eight"):
                            return 3
                      else:
                            if(input_string == "Final Four"):
                                  return 4
                            else:
                                  if(input_string == "Finals"):
                                        return 5
                                  else:
                                        if(input_string =="CHAMPS"):
                                              return 6
                                        else:
                                            return 0
                                        
clean_df = finaldf.copy()
clean_df['Tournament Result'] = clean_df['Team'].apply(extract_tournament_result)
clean_df['Tournament Seed'] = clean_df['Team'].apply(extract_seed)
clean_df['Team'] = clean_df['Team'].apply(extract_team_name)
clean_df = clean_df.apply(pd.to_numeric, errors='ignore')
clean_df['Tournament Games Won'] = clean_df['Tournament Result'].apply(get_tournament_games_won)

#Remove all columns with word rank in it
clean_df = clean_df[clean_df.columns.drop(list(clean_df.filter(regex='Rank')))]

#Normalize each metric by calculating the z-score for each year except adj metrics
clean_df['EFG Z'] = clean_df.groupby('Year')['EFG%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['EFGD Z'] = clean_df.groupby('Year')['EFGD%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['TOR Z'] = clean_df.groupby('Year')['TOR'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['TORD Z'] = clean_df.groupby('Year')['TORD'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['ORB Z'] = clean_df.groupby('Year')['ORB'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['DRB Z'] = clean_df.groupby('Year')['DRB'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['FTR Z'] = clean_df.groupby('Year')['FTR'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['FTRD Z'] = clean_df.groupby('Year')['FTRD'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['2P Z'] = clean_df.groupby('Year')['2P%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['2PD Z'] = clean_df.groupby('Year')['2P%D'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3P Z'] = clean_df.groupby('Year')['3P%'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3PD Z'] = clean_df.groupby('Year')['3P%D'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3PR Z'] = clean_df.groupby('Year')['3PR'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['3PRD Z'] = clean_df.groupby('Year')['3PRD'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['Adj T Z'] = clean_df.groupby('Year')['Adj T.'].transform(lambda x: (x - x.mean()) / x.std())
clean_df['WAB Z'] = clean_df.groupby('Year')['WAB'].transform(lambda x: (x - x.mean()) / x.std())

#Output to csv with name torvik_ and then today's date
from datetime import datetime
now = datetime.now()
timestamp = now.strftime("%Y-%m-%d_%H-%M-%S")

# Create the filename with the timestamp
filename = f"torvik_{timestamp}.csv"

# Save the dataframe to a csv file
clean_df.to_csv(filename, index=False)

2017
https://barttorvik.com/trank.php?year=2017&sort=&top=0&conlimit=All&venue=All&type=R#

ValueError: No tables found