In [134]:
import pandas as pd

In [135]:
df_monte = pd.read_csv('matchups_sim_results.csv')

In [136]:
df_monte.head()

,home_team,away_team,mean_spread_away_minus_home,median_spread,std_spread,mean_total,home_win_prob,error
0,St. John's,Marquette,-4.4015,-4.0,13.423438,163.5029,0.6084,NaN
1,Eastern Michigan,Northern Illinois,0.9805,1.0,13.072969,140.1471,0.4540,NaN
2,Buffalo,Kent St.,-3.3035,-3.0,13.835700,159.4731,0.5769,NaN
3,Michigan St.,Indiana,4.3859,4.0,13.264229,166.7071,0.3584,NaN
4,Louisville,Virginia,-4.1582,-4.0,14.026695,172.4060,0.5973,NaN

In [137]:
df_monte = df_monte[['home_team','away_team','mean_spread_away_minus_home','home_win_prob']]

df_monte.dropna(inplace=True)

df_monte

,home_team,away_team,mean_spread_away_minus_home,home_win_prob
0,St. John's,Marquette,-4.4015,0.6084
1,Eastern Michigan,Northern Illinois,0.9805,0.4540
2,Buffalo,Kent St.,-3.3035,0.5769
3,Michigan St.,Indiana,4.3859,0.3584
4,Louisville,Virginia,-4.1582,0.5973
5,Clemson,Boston College,-8.3846,0.7307
6,Tennessee,Texas A&M,7.3778,0.2753
8,Loyola Chicago,George Mason,2.8383,0.3978
9,Duquesne,Dayton,1.4625,0.4379
10,Minnesota,Wisconsin,3.4725,0.3842
11,Notre Dame,Miami FL,0.8007,0.4623
12,Western Michigan,Massachusetts,0.2862,0.4783
13,Toledo,Ohio,-6.9465,0.6884
15,Akron,Ball St.,-9.3841,0.7454
16,Belmont,Valparaiso,-5.6945,0.6458
17,Seton Hall,Connecticut,2.4010,0.4116
18,Evansville,Bradley,6.4399,0.3044
19,Houston,West Virginia,-5.0798,0.6360
20,Eastern Illinois,Western Illinois,-5.9601,0.6670
21,Kansas,Iowa St.,4.2678,0.3665
22,Nebraska,Oregon,-6.9211,0.6798
23,Mississippi St.,Alabama,8.0263,0.2698
24,Oklahoma,Florida,-6.6100,0.6761
25,Fresno St.,Colorado St.,5.8317,0.3163
26,Oklahoma St.,Baylor,-1.1208,0.5171
27,New Mexico,Grand Canyon,-6.2791,0.6594
28,Creighton,Georgetown,-3.9171,0.5999
29,Syracuse,Florida St.,5.6804,0.3273
31,USC,Maryland,-1.4687,0.5311
32,San Francisco,Saint Mary's,1.7333,0.4254
33,UNLV,Boise St.,1.7539,0.4253

In [138]:
df_bart = pd.read_csv('matchups_bart_results.csv')
df_bart.head()

,home_team,away_team,mean_spread_away_minus_home,median_spread,std_spread,mean_total,home_win_prob,error
0,St. John's,Marquette,-18.771681,-18.452824,14.829612,152.719000,0.098,NaN
1,Eastern Michigan,Northern Illinois,-18.786441,-18.919430,14.442640,144.550158,0.098,NaN
2,Buffalo,Kent St.,-2.417273,-2.060132,14.704790,148.583339,0.447,NaN
3,Michigan St.,Indiana,-5.988937,-6.330506,14.256456,133.195263,0.336,NaN
4,Louisville,Virginia,-1.306775,-1.429146,14.350618,136.187728,0.457,NaN

In [139]:
df_bart = df_bart[['home_team','away_team','mean_spread_away_minus_home']]
df_bart.dropna(inplace=True)
df_bart.rename(columns={'mean_spread_away_minus_home':'spread_away_minus_home_bart'}, inplace=True)
df_bart

           home_team          away_team  spread_away_minus_home_bart
0         St. John's          Marquette                   -18.771681
1   Eastern Michigan  Northern Illinois                   -18.786441
2            Buffalo           Kent St.                    -2.417273
3       Michigan St.            Indiana                    -5.988937
4         Louisville           Virginia                    -1.306775
5            Clemson     Boston College                   -21.544896
6          Tennessee          Texas A&M                   -13.360713
9           Duquesne             Dayton                     8.758764
10         Minnesota          Wisconsin                     4.252915
11        Notre Dame           Miami FL                     2.852765
12  Western Michigan      Massachusetts                     8.701541
13            Toledo               Ohio                    -1.843161
15             Akron           Ball St.                   -37.407290
16           Belmont         Valparaiso                   -16.616952
17        Seton Hall        Connecticut                     7.337829
18        Evansville            Bradley                    12.568794
19           Houston      West Virginia                   -10.343536
20  Eastern Illinois   Western Illinois                    -9.902999
21            Kansas           Iowa St.                    -0.967163
22          Nebraska             Oregon                   -14.135177
23   Mississippi St.            Alabama                     8.018421
24          Oklahoma            Florida                     4.223929
25        Fresno St.       Colorado St.                     5.522187
26      Oklahoma St.             Baylor                    -1.170500
27        New Mexico       Grand Canyon                    -4.661202
28         Creighton         Georgetown                   -11.225758
29          Syracuse        Florida St.                   -15.848549
31               USC           Maryland                   -15.761904

In [140]:
df_final = pd.merge(df_monte, df_bart, on=['home_team','away_team'])
df_final['mean_spread_away_minus_home'] = df_final['mean_spread_away_minus_home']-3
df_final

,home_team,away_team,mean_spread_away_minus_home,home_win_prob,spread_away_minus_home_bart
0,St. John's,Marquette,-7.4015,0.6084,-18.771681
1,Eastern Michigan,Northern Illinois,-2.0195,0.4540,-18.786441
2,Buffalo,Kent St.,-6.3035,0.5769,-2.417273
3,Michigan St.,Indiana,1.3859,0.3584,-5.988937
4,Louisville,Virginia,-7.1582,0.5973,-1.306775
5,Clemson,Boston College,-11.3846,0.7307,-21.544896
6,Tennessee,Texas A&M,4.3778,0.2753,-13.360713
7,Duquesne,Dayton,-1.5375,0.4379,8.758764
8,Minnesota,Wisconsin,0.4725,0.3842,4.252915
9,Notre Dame,Miami FL,-2.1993,0.4623,2.852765
10,Western Michigan,Massachusetts,-2.7138,0.4783,8.701541
11,Toledo,Ohio,-9.9465,0.6884,-1.843161
12,Akron,Ball St.,-12.3841,0.7454,-37.407290
13,Belmont,Valparaiso,-8.6945,0.6458,-16.616952
14,Seton Hall,Connecticut,-0.5990,0.4116,7.337829
15,Evansville,Bradley,3.4399,0.3044,12.568794
16,Houston,West Virginia,-8.0798,0.6360,-10.343536
17,Eastern Illinois,Western Illinois,-8.9601,0.6670,-9.902999
18,Kansas,Iowa St.,1.2678,0.3665,-0.967163
19,Nebraska,Oregon,-9.9211,0.6798,-14.135177
20,Mississippi St.,Alabama,5.0263,0.2698,8.018421
21,Oklahoma,Florida,-9.6100,0.6761,4.223929
22,Fresno St.,Colorado St.,2.8317,0.3163,5.522187
23,Oklahoma St.,Baylor,-4.1208,0.5171,-1.170500
24,New Mexico,Grand Canyon,-9.2791,0.6594,-4.661202
25,Creighton,Georgetown,-6.9171,0.5999,-11.225758
26,Syracuse,Florida St.,2.6804,0.3273,-15.848549
27,USC,Maryland,-4.4687,0.5311,-15.761904

In [141]:
df_final['avg_result'] = (df_final['mean_spread_away_minus_home'] + df_final['spread_away_minus_home_bart']) / 2

In [142]:
odds = pd.read_csv('Data/odds_today.csv')
odds = odds.rename(columns={'Team Modified':'team'})
odds = odds[(odds['Bookmaker']=='fanduel')]
odds = odds[odds['Market']=='spreads']
odds.head()

,team,Market,Bookmaker,Point,Implied Probability,Vegas Line
4,Buffalo,spreads,fanduel,2.5,0.546448,-120.481928
5,Kent St.,spreads,fanduel,-2.5,0.505051,-102.040816
22,Eastern Michigan,spreads,fanduel,-8.5,0.523560,-109.890110
23,Northern Illinois,spreads,fanduel,8.5,0.523560,-109.890110
34,Marquette,spreads,fanduel,14.5,0.523560,-109.890110

In [143]:
df_final[df_final['away_team'] == 'Boise St.']

Empty DataFrame
Columns: [home_team, away_team, mean_spread_away_minus_home, home_win_prob, spread_away_minus_home_bart, avg_result]
Index: []

In [144]:
df_final_odds = pd.merge(df_final, odds[['team','Point']], left_on=['home_team'], right_on=['team'])

In [145]:
df_final_odds.head()

,home_team,away_team,mean_spread_away_minus_home,home_win_prob,spread_away_minus_home_bart,avg_result,team,Point
0,Eastern Michigan,Northern Illinois,-2.0195,0.4540,-18.786441,-10.402970,Eastern Michigan,-8.5
1,Buffalo,Kent St.,-6.3035,0.5769,-2.417273,-4.360386,Buffalo,2.5
2,Michigan St.,Indiana,1.3859,0.3584,-5.988937,-2.301519,Michigan St.,-7.5
3,Louisville,Virginia,-7.1582,0.5973,-1.306775,-4.232488,Louisville,-3.5
4,Clemson,Boston College,-11.3846,0.7307,-21.544896,-16.464748,Clemson,-15.5

In [146]:
df_final_odds.to_csv('matchup_analysis_with_odds_0113_2.csv', index=False)

In [147]:
df_final.head()

,home_team,away_team,mean_spread_away_minus_home,home_win_prob,spread_away_minus_home_bart,avg_result
0,St. John's,Marquette,-7.4015,0.6084,-18.771681,-13.086591
1,Eastern Michigan,Northern Illinois,-2.0195,0.4540,-18.786441,-10.402970
2,Buffalo,Kent St.,-6.3035,0.5769,-2.417273,-4.360386
3,Michigan St.,Indiana,1.3859,0.3584,-5.988937,-2.301519
4,Louisville,Virginia,-7.1582,0.5973,-1.306775,-4.232488

In [148]:
#df_final.to_csv('matchup_analysis_results.csv', index=False)